{% extends 'base.html' %}

{% block head %}
<title>Password Manager</title>
{% endblock %}

{% block body %}

<body style="background-image: linear-gradient(90deg, #97d5c8 ,#5b6e7f);" onload="onload_page()">
{% include 'includes/_messages.html' %}
<div class="container-fluid" style="padding: 0% 4%"> <!--container-->
  <div class="row"> <!-- row -->
    <div id="password_manager" class="col-xl-7" style="margin-top:15%;"> <!-- col-lg-7 -->
      <div class="my-5">
        <h1 class="text-dark" style="font-size: 70px; font-family: monospace;">Password Manager</h1> 
        <p class="mb-5" style="font-size: 25px; font-family: monospace;">Forget no more...</p>
        <div class="alert alert-info p-4 alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <p>Want to try it out? Either you <strong>create an account</strong> or use our <strong>free account!</strong></p>
          <p class="my-0"><strong>Username: </strong>test_username</p>
          <p><strong>Password: </strong>test_password</p>
        </div>
      </div>
    </div> <!-- col-lg-7 -->
    <div id="password_login" class="col-xl-5" style="margin-top: 5%;"> <!-- col-lg-5 -->
      <div class="shadow p-5 mb-4 bg-white"> <!--shadow-->
        <div class="text-center py-3">
          <h2>Login</h2>    
        </div>
        <form method="POST" action="/">
          <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username">      
            <div class="text-center text-danger pt-2"></div>
          </div>
          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
          </div>
          <div class="text-center">
             <button type="submit" name="login" class="btn btn-dark">Login</button>   
          </div>
        </form>
      </div> <!--shadow-->
      <div class="text-center pb-5">
        <a href="/create" class="text-dark">Create an account</a>
      </div>
    </div> <!-- col-lg-7 -->

  </div> <!-- row -->
    
</div> <!--container-->
  
</body>
    
{% endblock %}